.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 30px;
    width: 90%;
    max-width: 375px;
}

.form {
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

@media screen and (min-width: 320px) {
    .contentContainer {
    padding: 20px 30px 30px;
}
}