.questionContainer {
    padding-left: 20px;
    list-style-type: none;
}

.answerContainer {
    padding-left: 30px;
    list-style-type: none;
}

.container {
    padding: 20px;
    margin-bottom: 40px;
}

.textField, .questionsTitle {
    margin-top: 15px;
}

.answer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.divider {
    margin-top: 10px;
    background-color: rgb(62, 178, 255);
    margin-bottom: 10px;
    height: 2px;
}

.submitContainer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    margin-top: 5px;
}