.contentContainer {
    padding: 20px;
    margin-bottom: 40px;
}

.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--navbar-height) - 80px);
    width: 100%;
    margin-bottom: 40px;
}

.error {
    color: red;
}