.navigation {
    width: 100%;
    height: var(--navbar-height);
    margin-bottom: 40px;
}

.contentContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navList {
    list-style-type: none;
    display: flex;
}