.navigation {
    width: 100%;
    height: var(--navbar-height);
    margin: auto;
}

.contentContainer {
    max-width: 1200px;
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navList {
    list-style-type: none;
    display: flex;
}